@model Crudapp.Models.StudentView

@{
    ViewData["Title"] = Model.StudentId == 0 ? "Create Course" : "Update Course";
}

<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SAddOrEdit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />

            <div class="form-group">
                <label asp-for="DepId" class="control-label"></label>
                <input asp-for="DepId" class="form-control" />
                <span asp-validation-for="DepId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CId" class="control-label"></label>
                <input asp-for="CId" class="form-control" />
                <span asp-validation-for="CId" class="text-danger"></span>
            </div>
            <div class="form-group" required>
                <label asp-for="SRollno" class="control-label"></label>
                <input asp-for="SRollno" class="form-control" />
                <span asp-validation-for="SRollno" class="text-danger"></span>
            </div>
            <div class="form-group" required>
                <label asp-for="SName" class="control-label"></label>
                <input asp-for="SName" class="form-control" />
                <span asp-validation-for="SName" class="text-danger"></span>

            </div>
            <div class="form-group" required>
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>

            </div>


            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
