@model Crudapp.Models.CourseView


@{
    ViewData["Title"] = Model.DepId == 0 ? "Create Course" : "Update Course";
}

<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CId" />
            <div class="form-group" required>
                <label asp-for="CCode" class="control-label"></label>
                <input asp-for="CCode" class="form-control" />
                <span asp-validation-for="CCode" class="text-danger"></span>
            </div>
            <div class="form-group" required>
                <label asp-for="CName" class="control-label"></label>
                <input asp-for="CName" class="form-control" />
                <span asp-validation-for="CName" class="text-danger"></span>

            </div>
            

            


            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
